{% extends 'base.html' %}

{% block header %}
	<h1>{% block title %}Agents{% endblock %}</h1>
	{% if g.user %}
		<a href="{{ url_for('agents.create') }}">New</a>
	{% endif %}
{% endblock %}

{% block main %}
	{% for agent in agents %}
	<article class="agent">
		<header>
			<h2>{{ agent['name'] }}</h2>
		</header>
		<ul>
			<li><b>Model:</b> {{ agent['model'] }}</li>
			<li><b>Role:</b> {{ agent['role'] }}</li>
			<li><b>Instructions:</b> {{ agent['instructions']}}</li>
		</ul>
		<footer>
			<p>Created: {{ agent['created'].strftime('%d.%m.%Y') }} | Creator: {{ agent['username'] }}{% if g.user['id'] == agent['creator_id'] %} | <a href="{{ url_for('agents.update', id=agent['id']) }}">Edit</a>{% endif %}</p>
		</footer>
	</article>
		{% if not loop.last %}
			<hr>
		{% endif %}
	{% endfor %}
{% endblock %}
