{% extends 'base.html' %}

{% block header %}
	<h1>{% block title %}Edit Agent "{{ agent['name'] }}"{% endblock %}</h1>
{% endblock %}
	
{% block main %}
	<form method="post">
		<label for="model">Model
			<select name="model" id="model" required autofocus>
				<option value="gpt-4.1-mini">ChatGPT 4.1 mini</option>
				<option value="gpt-4.1">ChatGPT 4.1</option>
			</select>
		</label>
		<label for="name">Name
			<input id="name" name="name" value="{{ request.form['name'] or agent['name'] }}" required> <!-- When the form hasn't been submitted, the original `agent` data appears, but if invalid form data was posted it will be displayed so that the user can fix the error. -->
		</label>
		<label for="role">Role
			<input name="role" id="role" value="{{ request.form['role'] or agent['role'] }}" required>
		</label>
		<label for="instructions">Instructions
			<textarea id="instructions" name="instructions" required>{{ request.form['instructions'] or agent['instructions'] }}</textarea>
		</label>
		<input type="submit" value="Save">
	</form>
	<hr>
	<form method="post" action="{{ url_for('agents.delete', id=agent['id']) }}">
		<input type="submit" value="Delete">
	</form>
	<script>
		const opts = document.querySelectorAll('#model option');
		opts.forEach((opt) => { if (opt.value === "{{ request.form['model'] or agent['model'] }}") opt.selected = true;});
	</script>
{% endblock %}

